<div class="container">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="loginFormEmail">Email</label>
                    <input type="email" class="form-control" id="loginFormEmail" formControlName="email">
                    <small *ngIf="email.touched && email.errors?.required" class="form-text text-danger">This field is required!</small>
                </div>
                <div class="form-group">
                    <label for="loginFormPassword">Password</label>
                    <input type="password" class="form-control" id="loginFormPassword" formControlName="password">
                    <small *ngIf="password.touched && password.errors?.required" class="form-text text-danger">This field is required!</small>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>