<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <div class="list-group-item list-group-item-action d-flex align-items-center" *ngFor="let chat of chats">
                    <div class="chat-image">
                        <img src="assets/img/default-user-avatar.png" class="rounded-circle" style="max-height: 30px;" />
                    </div>
                    <div class="chat-name ml-2">
                        {{chat.id}}
                    </div>                
                </div>
            </div>
        </div>
        <div class="col-md-9">
            Selected chat
        </div>
    </div>
</div>