<div class="container">
    <div class="row">
        <div class="col-md-4 mb-5 mb-md-0">
            <app-chats-list [selectedChatId]="selectedChatId"></app-chats-list>
        </div>
        <div class="col-md-8">
            <div class="card" *ngIf="selectedChatId > 0">
                <div class="card-header text-center">
                    Messages
                </div>
                <div class="card-body messages-block" id="messages-block">
                    <div class="messages" *ngIf="messagesList.length > 0">
                        <div class="messages-group" *ngFor="let group of messagesList">
                            <div class="row mt-3 mb-3">
                                <div class="col-4">
                                    <hr>
                                </div>
                                <div class="col-4 text-center text-muted">
                                    {{group.date | date:'EEEE, MMMM d, yyyy'}}
                                </div>
                                <div class="col-4">
                                    <hr>
                                </div>
                            </div>
                            <ul class="list-unstyled">
                                <li class="media mb-3" [class.backwards]="currentUserId == message.userId" *ngFor="let message of group.messages">
                                    <img src="{{message.user.avatar ? message.user.avatar : 'assets/img/default-user-avatar.png'}}" class="rounded-circle" style="max-height: 40px;">
                                    <div class="media-body" [class.mr-3]="currentUserId == message.userId" [class.ml-3]="currentUserId != message.userId">
                                        <div class="message-head-text small text-muted">
                                            {{message.user.name}}, {{message.date | date:'h:mm aa'}}
                                        </div>
                                        <div class="message-body-text">
                                            {{message.text}}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="alert alert-light text-center" role="alert" *ngIf="messagesList.length === 0">
                        Messages not found
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <textarea [(ngModel)]="chatMessageText" class="form-control" rows="3" placeholder="Write a message..."></textarea>
                    </div>
                    <div class="form-group d-flex justify-content-end">
                        <button type="button" class="btn btn-success btn-sm" (click)="sendMessage()" [disabled]="showSpinner">
                            <div class="spinner-border spinner-border-sm text-light" role="status" *ngIf="showSpinner">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <span *ngIf="!showSpinner">Send</span> 
                        </button>
                    </div>
                </div>
            </div>
            <div class="alert alert-light text-center" role="alert" *ngIf="!selectedChatId">
                Please select a chat to start messaging
            </div>
        </div>
    </div>
</div>