<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-sm-8 col-md-6 col-lg-4">
            <div class="card p-2">
                <div class="card-body">
                    <h4 class="card-title text-center">Register</h4>
                    <hr />
                    <form [formGroup]="registerForm" (ngSubmit)="register()">
                        <div class="form-group">
                            <label for="registerFormName">Name</label>
                            <input type="text" class="form-control" id="registerFormName" formControlName="name">
                            <small *ngIf="name.touched && name.errors?.required" class="form-text text-danger">This field is required!</small>
                        </div>
                        <div class="form-group">
                            <label for="registerFormEmail">Email</label>
                            <input type="email" class="form-control" id="registerFormEmail" formControlName="email">
                            <small *ngIf="email.touched && email.errors?.required" class="form-text text-danger">This field is required!</small>
                        </div>
                        <div class="form-group">
                            <label for="registerFormPassword">Password</label>
                            <input type="password" class="form-control" id="registerFormPassword" formControlName="password">
                            <small *ngIf="password.touched && password.errors?.required" class="form-text text-danger">This field is required!</small>
                        </div>
                        <div class="form-group">
                            <label for="registerFormPasswordConfirm">Confirm password</label>
                            <input type="password" class="form-control" id="registerFormPasswordConfirm" formControlName="passwordConfirm">
                            <small *ngIf="passwordConfirm.touched && passwordConfirm.errors?.required" class="form-text text-danger">This field is required!</small>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                            <p class="text-center pt-3">Already have an account? <a routerLink="/login">Login</a></p>
                        </div>               
                    </form>
                </div>
            </div>          
        </div>
    </div>
</div>