<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-md-8 col-lg-6">
            <div class="card">
                <div class="card-body d-flex align-items-center">
                    <div class="user-image">
                        <img src="assets/img/default-user-avatar.png" class="rounded-circle" style="max-height: 96px;" />
                    </div>
                    <div class="user-details ml-3">
                        <div class="user-name">
                            {{user.name}}
                        </div>
                        <div class="user-email">
                            {{user.email}}
                        </div>
                        <div class="user-chat-btn mt-2">
                            <button (click)="createChat(user.id)" type="button" class="btn btn-success btn-sm">Send message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>