<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-sm-9 col-md-7 col-lg-5">
            <div class="card p-2">
                <div class="card-body">
                    <div class="user-avatar text-center mb-3">
                        <img src="{{user.avatar ? user.avatar : 'assets/img/default-user-avatar.png'}}" class="rounded-circle" style="max-height: 96px;" />
                    </div>
                    <div class="user-name mb-1">
                        <div class="text-muted small">Name</div>
                        <div class="user-name-text">{{user.name}}</div>
                    </div>
                    <div *ngIf="user.description" class="user-description mb-1">
                        <div class="text-muted small">Description</div>
                        <div class="user-description-text">{{user.description}}</div>
                    </div>
                    <div class="user-chat-btn text-center">
                        <button (click)="createChat(user.id)" type="button" class="btn btn-success btn-sm mt-3">Send message</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>